.cart-summary{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
/* identical to box height */


color: #1C2B35;

}
.cart-info{
    text-align: left !important;
}